body{   
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Press Start 2P", system-ui;
    overflow: hidden;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: normal;
  font-style: normal;
}

h1{
    color:#1231a2;  
}

h3{
    margin: 0;
    padding-top: 0px;
    font-size: 18px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #1940d0;
}

ul{
    list-style-type: none
}

li a{
    text-decoration: none;
    list-style-type: none;
}

li a:visited{
    text-decoration: none;
}

#loadingScreen{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    animation: fadeOut 2s ease 3s forwards;
    color:#1231a2;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#desktop{
    height: 100vh;
    width: 100vw;
    background: #6babeb;
}

#folders{
    top: 50px;
    left: 250px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 100px;
}

#folder{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#folder:hover{
    transform: scale(1.05);
}

#applications{
    top: 50px;
    left: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#app:hover{
    transform: scale(1.05);
}

#aboutWindow{
    top: 150px;
    left: 150px;
    width: 700px;
}

#gamesWindow{
    top: 150px;
    left: 300px;
    width: 500px;
}

#webWindow{
    top: 150px;
    left: 500px;
    width: 500px;
}

#artWindow{
    top: 150px;
    left: 700px;
    width: 500px;
}

#resumeWindow{
    top: 150px;
    left: 900px;
}

#trashWindow{
    top: 150px;
    left: 150px;
    width: 500px;
}

#settingsWindow{
    top: 150px;
    left: 150px;
    width: 500px;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.settings p {
  margin: 0;
}

#playWindow{
    top: 300px;
    left: 150px;
    width: 500px;
}

#notesWindow{
    top: 400px;
    left: 200px;
    width: 400px;
    height: 400px;
}

#socialsWindow{
    top: 450px;
    left: 200px;
}

.socialSettings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.windows{
    position: absolute;
    width: 350px;
    background: #eaeaea;
    border: 2px solid #48494b;
    box-shadow: 4px 4px #48494b;
    display: none; 
    z-index: 10;
    will-change: transform;
}

.title{
    background: #031ea2;
    color: white;
    padding: 5px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.windowContent{
    padding: 10px;
    background: white;
    color: black;
}

.title button{
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

#taskbar{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: #4F73F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#start{
    background: #1231a2;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#clock {
    color: white;
    font-size: 18px;
    padding: 0 20px;
}

.console{
    position: absolute;
    top: 400px;
    left: 100px;
    width: 500px;
    background: #000000;
    border: 2px solid #000000;
    box-shadow: 4px 4px #000000;
    display: none;
    will-change: transform;
}

.consoleTitle{
    background: #04125c;
    color: white;
    padding: 5px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.consoleTitle button{
    background-color: #04125c;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;  
}


.consoleContent{
    padding: 10px;
    background: #000000;
    color: white;
    height: 300px;
    overflow-y: auto;;
}
 
#output{
    white-space: pre-wrap;
    margin-bottom: 10px;
}

#inputTXT{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    color: white;
}

#input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    width: 100%;
    caret-color: white;
    font-family: "Press Start 2P", system-ui;
}

.prompt{
    font-size: 16px;
    margin-right: 8px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.thumbnail {
    width: 100%;
    cursor: pointer;
    border: 2px solid #1231a2;
    transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.gameThumbnail{
    width: 100%;
    cursor: pointer;
    border: 2px solid #1231a2;
    transition: transform 0.2s;
}

.gameThumbnail:hover {
  transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    border: 5px solid #ffffff;
}

#modalTitle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 15px;
    font-size: 20px;
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

#rightClickMenu {
  position: absolute;
  display: none;
  background: #eaeaea;
  border: 2px solid #48494b;
  box-shadow: 4px 4px #48494b;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
  font-size: 12px;
  width: 150px;
}

#rightClickMenu li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

#rightClickMenu li:hover {
  background-color: #cfcfcf;
}


#notesWindow .windowContent{
    background-color: #dbc9a6;
}

.notepad{
    background-color: #dbc9a6;
}

.notepad button {
    background: #031ea2;
    color: white;
    font-family: "Press Start 2P", system-ui ;
    cursor: pointer;
    border: none;
    padding: 12px;
    gap: 10px;
}

.notepad button:hover {
    background-color: #051b89;
}

#notepadText{
    background-color: #dbc9a6;
    width: 100%;
    height: 300px;
    font-family: "Press Start 2P", system-ui ;
    border: none;
    outline: none;
    resize: none;
}
