body{   
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h3{
    margin: 0;
    padding-top: 0px;
    font-size: 18px;
}

#loadingScreen{
    background: black;
}


#desktop{
    height: 100vh;
    width: 100vw;
    background: #4fc6f5;
}


#folders{
    top: 50px;
    left: 175px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 100px;
}

#folder{
display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#applications{
    top: 50px;
    left: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.windows{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 350px;
    background: #eaeaea;
    border: 2px solid #48494b;
    box-shadow: 4px 4px #48494b;
    /**display: none; */
 /**   z-index: 100; */
}

.title{
    background: #031ea2;
    color: white;
    padding: 5px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.windowContent{
    padding: 10px;
    background: white;
    color: black;
}

.title button{
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

#taskbar{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: #4F73F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#start{
    background: #1231a2;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#clock {
    color: white;
    font-size: 18px;
    padding: 0 20px;
}
