body{
    margin: 0;
    background: whitesmoke;
    text-align: center;
}
h1{
   
}

.footer{

}

.button{
    background-color: azure;
    border-radius: 6px;
}


.aboutMe{
    text-align: left;
}

.project{

}


.contact{
    text-align: center;
}


.fa{
    padding: 10px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


.fa-instagram{
    color: #E4405F;
    opacity: 1.0;
}
.fa-instagram:hover{
    opacity: 0.7;
}

.fa-github{
    opacity: 1.0;
}
.fa-github:hover {
    opacity: 0.5;
}

.fa-twitter{
    color: #00ACEE ;
    opacity: 1.0;
}

.fa-twitter:hover{
    opacity: 0.7;
    color: #00ACEE;
}