body{
    margin: 0;
   /* background: whitesmoke;*/
   background-image: linear-gradient(#1c1cb0, #00d4ff);
    text-align: center;
}
h1{
   
}

h3{
    /** text-align: left;
    margin-left: 50px; */
}
h4{
    text-align: left;
    margin-left: 50px;
}

ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /*background-color: #333; */
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
  /*  background-color: #111; 
  background-color: #e1eaec;*/
}


hr{
    width: 200px;
}


.footer{

}

.button{
    background-color: azure;
    border: black;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.GameSection{
    max-width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;

}
.card{
    border-radius: 4px;
    padding: .5rem;
}

.artPics{
    margin: 0 auto;
}

#artPics > img {
    float: left;
    border: 2px solid black;
    width: 45%;
    margin: 1.66%;
    
}

.aboutMe{
    text-align: center;
}

.project{
    
}


.contact{
    text-align: center;
}


.fa{
    padding: 10px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-home{
    color: white;
}

.fa-desktop{
    color: white;
}

.fa-user{
    color: white;
}

.fa-mobile{
    color: white;
}


.fa-instagram{
    color: #E4405F;
    opacity: 1.0;
}
.fa-instagram:hover{
    opacity: 0.7;
}

.fa-github{
    color: #0e0f0e;
    opacity: 1.0;
}
.fa-github:hover {
    opacity: 0.5;
}

.fa-twitter{
    color: #044efb ;
    opacity: 1.0;
}

.fa-twitter:hover{
    opacity: 0.7;
}

.fa-linkedin-square{
    opacity: 1.0;
}

.fa-linkedin-square:hover{
    opacity: 0.7;
}